<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form role="form" id="changeContentForm" enctype="multipart/form-data">
        <div class="formBox">
            <div class="titleBox">
                <h2 class="title">게시물을 변경해주세요</h2>
            </div>

            <div class="form-group imageInputBox">
                <h5 class="title">이미지 미리보기</h5>
                <div id="preview" >
                    <block th:each="photo : ${#strings.arraySplit(content.photoRoute,' ')}" th:remove="tag">
                        <img th:src="${photo}" width="170" height="120" style="margin:12px;"/>
                    </block>
                </div>
                <br>

                <label th:for="photoRoute" class="subTitle">사진을 변경하고 싶은 경우 선택하세요!</label>
                <input type="file" id="photoRoute" name="photoRoute" multiple="multiple" class="form-control">
                <span class="alertMessage" id="photoMessage">alert message</span>
            </div>

            <div class="textInputBox">
                <div>
                    <h5>현재 소속된 팀</h5>
                    현재 함께하는 가족 : <span th:text="${team.teamID}"></span><br>
                </div>
                <br>

                <div class="form-group">
                    <label th:for="explanation" class="subTitle">설명</label>
                    <textarea id="explanation" rows="4" name="explanation" th:text="${content.explanation}" class="form-control" ></textarea>
                    <span class="alertMessage" id="explanationMessage">alert message</span>
                </div>
                <div class="form-group">
                    <label th:for="location" class="subTitle">장소</label>
                    <input type="text" id="location" name="location" th:value="${content.location}" class="form-control" >
                    <span class="alertMessage" id="locationMessage">alert message</span>
                </div>
                <div class="form-group">
                    <label th:for="when" class="subTitle">날짜</label>
                    <input type="date" id="when" name="when" th:value="${content.when}" class="form-control" >
                    <span class="alertMessage" id="whenMessage">alert message</span>
                </div>
            </div>

            <div class="buttonBox">
                <br>
                <button type="button" onclick="history.back()" class="backButton">돌아가기</button>
                <a th:href="'javascript:changeContent('+${content.cID}+')'" id="submitA">
                    수정하기
                </a>
            </div>
        </div>
    </form>

    <!--                    지도부분-->
    <div id="map" style="width:100%;height:350px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=eaa00faba9dc40c43a9aa7326a6cc82b&libraries=services,clusterer"></script>


    <br>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

<!-- services와 clusterer, drawing 라이브러리 불러오기 -->


<script>
// 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
var infowindow = new kakao.maps.InfoWindow({zIndex:1});

var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

// 지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption);

// 장소 검색 객체를 생성합니다
var ps = new kakao.maps.services.Places();

// 키워드로 장소를 검색합니다
ps.keywordSearch('이태원 맛집', placesSearchCB);

// 키워드 검색 완료 시 호출되는 콜백함수 입니다
function placesSearchCB (data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        var bounds = new kakao.maps.LatLngBounds();

        for (var i=0; i<data.length; i++) {
            displayMarker(data[i]);
            bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
        }

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
        map.setBounds(bounds);
    }
}

// 지도에 마커를 표시하는 함수입니다
function displayMarker(place) {

    // 마커를 생성하고 지도에 표시합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: new kakao.maps.LatLng(place.y, place.x)
    });

    // 마커에 클릭이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'click', function() {
        // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
        infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
        infowindow.open(map, marker);
    });
}
</script>
</body>
<script type="text/javascript" th:src="@{/js/changeContentImage.js}"></script>

<script>

    function changeContent(id) {
        const alertMessage = document.getElementsByClassName('alertMessage');
        for(var i=0; i<alertMessage.length; i++){
            alertMessage[i].style.display = 'none';
        }

        const explanation = document.querySelector('#explanation');
        const location = document.querySelector('#location');
        const when = document.querySelector('#when');

        if(!explanation.value){
            document.querySelector('#explanationMessage').innerHTML = "설명을 입력하세요.";
            document.querySelector('#explanationMessage').style.display = 'block';
            explanation.focus();
        }
        else if(!location.value){
            document.querySelector('#locationMessage').innerHTML = "장소를 입력하세요.";
            document.querySelector('#locationMessage').style.display = 'block';
            location.focus();
        }
        else if(!when.value){
            document.querySelector('#whenMessage').innerHTML = "날짜를 입력하세요.";
            document.querySelector('#whenMessage').style.display = 'block';
            when.focus();
        }
        else{
            const formElem = document.querySelector('#changeContentForm');
            formElem.setAttribute("action", "/uploadList/" + id + "/change");
            formElem.setAttribute('method', 'post');
            formElem.submit();
        }
    }
</script>
</html>