<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" >
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <script>
        document.getElementById("map_Area").style.display = "none";

        function getShow(){
          document.getElementById("map_Area").style.display = "block";
          relayout()
        }
        function getHide(){
          document.getElementById("map_Area").style.display = "none";
        }

    </script>

    <form role="form" id="uploadContentForm" enctype="multipart/form-data" >
        <div class="formBox">
            <div class="titleBox">
                <h2 class="title">게시물 등록</h2>
            </div>


            <div class="form-group imageInputBox">
                <h5 class="title">이미지 미리보기</h5>
                <div id="preview"></div>
                <br>

                <label th:for="photoRoute" class="subTitle">사진 추가</label>
                <input type="file" id="photoRoute" name="photoRoute" multiple="multiple" class="form-control" onkeypress="if(event.keyCode=='13'){event.preventDefault();}">
                <span class="alertMessage" id="photoMessage">alert message</span>
            </div>

            <div class="textInputBox">
                <div id="groupNameBox">
                    <h5>현재 함께하는 가족</h5>
<!--                    현재 접속한 아이디 : <span th:text="${user.userID}"></span><br>-->
<!--                    현재 함께하는 가족(tID) : <span th:text="${tID}"></span><br>-->
                    그룹 이름 : <span th:text="${teamName}"></span><br>
                </div>
                <br>

                <div class="form-group">
                    <label th:for="explanation" class="subTitle">설명</label>
                    <textarea id="explanation" rows="4" name="explanation" class="form-control" placeholder="설명을 입력하세요" ></textarea>
                    <span class="alertMessage" id="explanationMessage">alert message</span>
                </div>
                <div class="form-group">
                    <label th:for="location" class="subTitle">장소</label>
                    <input type="text" id="location" name="location" class="form-control" placeholder="장소를 입력하세요" onkeypress="if(event.keyCode=='13'){event.preventDefault();}">
                    <span class="alertMessage" id="locationMessage">alert message</span>
                    <div>
                        <input type ="button" id="showMapBtn" onclick="getShow()" value="장소찾기">
                        <input type ="button" id="hideMapBtn" onclick="getHide()" value="지도숨기기">
                    </div>
                    <div id="map_Area" style="display:none">
                        <div class="map_wrap">
                            <div id="keyBox">
                                <label id="labelKeyWord" for="keyword">키워드 :</label><input type="text" placeholder="키워드를 입력해주세요!" id="keyword" size="20" onkeypress="if(event.keyCode=='13'){event.preventDefault(); searchEvt();}">
                                <button id="searchbtn" type="button">검색하기</button>
                            </div>
                            <div id="map">
                            </div>
                        </div>
                        <hr>
                        <ul id="placesList"></ul>
                        <div id="pagination"></div>
                    </div>

                </div>
                <div class="form-group">
                    <label th:for="when" class="subTitle">날짜</label>
                    <input type="date" id="when" name="when" class="form-control" placeholder="시간을 입력하세요. ex)2022-04-10 )" onkeypress="if(event.keyCode=='13'){event.preventDefault();}">
                    <span class="alertMessage" id="whenMessage">alert message</span>
                </div>
            </div>

            <div class="buttonBox">
                <br>
                <a id="backA">돌아가기</a>
                <button type="submit" id="submitButton">등록하기</button>
            </div>
        </div>
    </form>
    <br>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=eaa00faba9dc40c43a9aa7326a6cc82b&libraries=services,clusterer,drawing"></script>
<script type="text/javascript" th:src="@{/js/changeContentImage.js}"></script>
<script th:inline="javascript">
    var currentTID = [[${curTID}]];
</script>
<script>
function relayout() {
    // 지도를 표시하는 div 크기를 변경한 이후 지도가 정상적으로 표출되지 않을 수도 있습니다
    // 크기를 변경한 이후에는 반드시  map.relayout 함수를 호출해야 합니다
    // window의 resize 이벤트에 의한 크기변경은 map.relayout 함수가 자동으로 호출됩니다
    map.relayout();
}

    // 마커를 담을 배열입니다
var markers = [];

var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
    };

// 지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption);

// 장소 검색 객체를 생성합니다
var ps = new kakao.maps.services.Places();

// 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
var infowindow = new kakao.maps.InfoWindow({zIndex:1});

// 지도 타입 변경 컨트롤을 생성한다
var mapTypeControl = new kakao.maps.MapTypeControl();

// 지도의 상단 우측에 지도 타입 변경 컨트롤을 추가한다
map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

// 지도에 확대 축소 컨트롤을 생성한다
var zoomControl = new kakao.maps.ZoomControl();

// 지도의 우측에 확대 축소 컨트롤을 추가한다
map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

// 키워드로 장소를 검색합니다
//searchPlaces();


function searchEvt() {
    // 엔터키가 눌렸을 때
    console.log('enter');
    searchPlaces();
}

 document.getElementById("searchbtn").addEventListener("click", function(){
     searchPlaces();
     return false;
 });

// 키워드 검색을 요청하는 함수입니다
function searchPlaces() {

    var keyword = document.getElementById('keyword').value;

    console.log(keyword);
    if (!keyword.replace(/^\s+|\s+$/g, '')) {
        alert('키워드를 입력해주세요!');
        return false;
    }

    // 장소검색 객체를 통해 키워드로 장소검색을 <요청합니다></요청합니다>
    ps.keywordSearch( keyword, placesSearchCB);
}

// 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
function placesSearchCB(data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {

<!--        // 정상적으로 검색이 완료됐으면-->
<!--        // 검색 목록과 마커를 표출합니다-->
        displayPlaces(data);

        // 페이지 번호를 표출합니다
        displayPagination(pagination);

    } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

        alert('검색 결과가 존재하지 않습니다.');
        return;

    } else if (status === kakao.maps.services.Status.ERROR) {

        alert('검색 결과 중 오류가 발생했습니다.');
        return;

    }
}

// 검색 결과 목록과 마커를 표출하는 함수입니다
function displayPlaces(places) {

    var listEl = document.getElementById('placesList'),
    menuEl = document.getElementById('menu_wrap'),
    fragment = document.createDocumentFragment(),
    bounds = new kakao.maps.LatLngBounds(),
    listStr = '';

<!--    // 검색 결과 목록에 추가된 항목들을 제거합니다-->
    removeAllChildNods(listEl);

    // 지도에 표시되고 있는 마커를 제거합니다
    removeMarker();

    for ( var i=0; i<places.length; i++ ) {

        // 마커를 생성하고 지도에 표시합니다
        var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
            marker = addMarker(placePosition, i),
            itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        bounds.extend(placePosition);

        console.log(placePosition);

        // 마커와 검색결과 항목에 mouseover 했을때
        // 해당 장소에 인포윈도우에 장소명을 표시합니다
        // mouseout 했을 때는 인포윈도우를 닫습니다
        (function(marker, title) {
            kakao.maps.event.addListener(marker, 'click', function() {
                displayInfowindow(marker, title);
            });

            kakao.maps.event.addListener(marker, 'click', function() {      //마커 클릭시 장소에 정보 입력
                displayInfowindow(marker, title);
                //console.log(title)
            });

            kakao.maps.event.addListener(marker, 'mouseout', function() {
                infowindow.close();
            });

            itemEl.onclick =  function () {             //목록 마우스 클릭시 장소에 정보 입력
                displayInfowindow(marker, title);
                //console.log(title)
            };

            itemEl.onmouseout =  function () {
                infowindow.close();
            };
        })(marker, places[i].place_name);

        if(i<5){
            fragment.appendChild(itemEl);               //목록 5개만 나오게
        }
    }

    // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
    listEl.appendChild(fragment);
<!--    menuEl.scrollTop = 0;-->

    // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
    map.setBounds(bounds);
}

// 검색결과 항목을 Element로 반환하는 함수입니다
function getListItem(index, places) {

    var el = document.createElement('li'),
    itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                '<div class="info">' +
                '   <h5>' + places.place_name + '</h5>';

    if (places.road_address_name) {
        itemStr += '    <span>' + places.road_address_name + '</span>' +
                    '   <span class="jibun gray">' +  places.address_name  + '</span>';
    } else {
        itemStr += '    <span>' +  places.address_name  + '</span>';
    }

      itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                '</div>';

    el.innerHTML = itemStr;
    el.className = 'item';

    return el;
}

// 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
function addMarker(position, idx, title) {
    var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
        imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
        imgOptions =  {
            spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
            spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
            offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
        },
        markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
            marker = new kakao.maps.Marker({
            position: position, // 마커의 위치
            image: markerImage
        });

    marker.setMap(map); // 지도 위에 마커를 표출합니다
    markers.push(marker);  // 배열에 생성된 마커를 추가합니다

    return marker;
}

// 지도 위에 표시되고 있는 마커를 모두 제거합니다
function removeMarker() {
    for ( var i = 0; i < markers.length; i++ ) {
        markers[i].setMap(null);
    }
    markers = [];
}

// 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
function displayPagination(pagination) {
    var paginationEl = document.getElementById('pagination'),
        fragment = document.createDocumentFragment(),
        i;

    // 기존에 추가된 페이지번호를 삭제합니다
    while (paginationEl.hasChildNodes()) {
        paginationEl.removeChild (paginationEl.lastChild);
    }

    for (i=1; i<=pagination.last; i++) {
        var el = document.createElement('a');
        el.href = "#";
        el.innerHTML = i;

        if (i===pagination.current) {
            el.className = 'on';
        } else {
            el.onclick = (function(i) {
                return function() {
                    pagination.gotoPage(i);
                }
            })(i);
        }

        fragment.appendChild(el);
    }
    paginationEl.appendChild(fragment);
}

// 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
// 인포윈도우에 장소명을 표시합니다
function displayInfowindow(marker, title) {
    var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

    //console.log(title);
    document.getElementById('location').value = title;

<!--    infowindow.setContent(content);-->
<!--    infowindow.open(map, marker);-->
}

 // 검색결과 목록의 자식 Element를 제거하는 함수입니다
function removeAllChildNods(el) {
    while (el.hasChildNodes()) {
        el.removeChild (el.lastChild);
    }
}

    var back = document.getElementById('backA');
    back.setAttribute("href", "/loginHome/"+currentTID);
    //back.setAttribute("href", "/loginHome/"+currentTID);
    //console.log(currentTID);

    const submitButton = document.querySelector('#submitButton');
    submitButton.addEventListener('click', function(evt){
        const alertMessage = document.getElementsByClassName('alertMessage');
        for(var i=0; i<alertMessage.length; i++){
            alertMessage[i].style.display = 'none';
        }

        const explanation = document.querySelector('#explanation');
        const location = document.querySelector('#location');
        const when = document.querySelector('#when');
        const photo = document.querySelector('#photoRoute');

        if(!photo.value){
            evt.preventDefault();
            document.querySelector('#photoMessage').innerHTML = "사진을 선택하세요.";
            document.querySelector('#photoMessage').style.display = 'block';
            photo.focus();
        }
        else if(!explanation.value){
            evt.preventDefault();
            document.querySelector('#explanationMessage').innerHTML = "설명을 입력하세요.";
            document.querySelector('#explanationMessage').style.display = 'block';
            explanation.focus();
        }
        else if(!location.value){
            evt.preventDefault();
            document.querySelector('#locationMessage').innerHTML = "장소를 입력하세요.";
            document.querySelector('#locationMessage').style.display = 'block';
            location.focus();
        }
        else if(!when.value){
            evt.preventDefault();
            document.querySelector('#whenMessage').innerHTML = "날짜를 입력하세요.";
            document.querySelector('#whenMessage').style.display = 'block';
            when.focus();
        }
        else{
            const formElem = document.querySelector('#uploadContentForm');
            formElem.setAttribute("action", "/uploadContent/"+currentTID);
            formElem.setAttribute('method', 'post');
            formElem.submit();
        }
    });
</script>
</html>