<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" >
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form role="form" id="uploadContentForm" enctype="multipart/form-data">
        <div class="formBox">
            <div class="titleBox">
                <h2 class="title">게시물을 추가해주세요</h2>
            </div>

            <div class="form-group imageInputBox">
                <h5 class="title">이미지 미리보기</h5>
                <div id="preview"></div>
                <br>

                <label th:for="photoRoute" class="subTitle">사진 추가</label>
                <input type="file" id="photoRoute" name="photoRoute" multiple="multiple" class="form-control" >
                <span class="alertMessage" id="photoMessage">alert message</span>
            </div>

            <div class="textInputBox">
                <div>
                    <h5>현재 로그인 아이디 & 소속된 팀</h5>
                    현재 접속한 아이디 : <span th:text="${user.userID}"></span><br>
                    현재 함께하는 가족 : <span th:text="${team.teamID}"></span><br>
                </div>
                <br>

                <div class="form-group">
                    <label th:for="explanation" class="subTitle">설명</label>
                    <textarea id="explanation" rows="4" name="explanation" class="form-control" placeholder="설명을 입력하세요" ></textarea>
                    <span class="alertMessage" id="explanationMessage">alert message</span>
                </div>
                <div class="form-group">
                    <label th:for="location" class="subTitle">장소</label>
                    <input type="text" id="location" name="location" class="form-control" placeholder="장소를 입력하세요" >
                    <span class="alertMessage" id="locationMessage">alert message</span>
                </div>
                <div class="form-group">
                    <label th:for="when" class="subTitle">날짜</label>
                    <input type="date" id="when" name="when" class="form-control" placeholder="시간을 입력하세요. ex)2022-04-10 )" >
                    <span class="alertMessage" id="whenMessage">alert message</span>
                </div>
            </div>

            <div class="buttonBox">
                <br>
                <button type="button" onclick="history.back()" class="backButton">돌아가기</button>
                <button type="submit" id="submitButton">등록하기</button>
            </div>
        </div>
    </form>
    <br>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<script type="text/javascript" th:src="@{/js/changeContentImage.js}"></script>
<script>

    const submitButton = document.querySelector('#submitButton');
    submitButton.addEventListener('click', function(evt){
        const alertMessage = document.getElementsByClassName('alertMessage');
        for(var i=0; i<alertMessage.length; i++){
            alertMessage[i].style.display = 'none';
        }

        const explanation = document.querySelector('#explanation');
        const location = document.querySelector('#location');
        const when = document.querySelector('#when');
        const photo = document.querySelector('#photoRoute');

        if(!photo.value){
            evt.preventDefault();
            document.querySelector('#photoMessage').innerHTML = "사진을 선택하세요.";
            document.querySelector('#photoMessage').style.display = 'block';
            photo.focus();
        }
        else if(!explanation.value){
            evt.preventDefault();
            document.querySelector('#explanationMessage').innerHTML = "설명을 입력하세요.";
            document.querySelector('#explanationMessage').style.display = 'block';
            explanation.focus();
        }
        else if(!location.value){
            evt.preventDefault();
            document.querySelector('#locationMessage').innerHTML = "장소를 입력하세요.";
            document.querySelector('#locationMessage').style.display = 'block';
            location.focus();
        }
        else if(!when.value){
            evt.preventDefault();
            document.querySelector('#whenMessage').innerHTML = "날짜를 입력하세요.";
            document.querySelector('#whenMessage').style.display = 'block';
            when.focus();
        }
        else{
            const formElem = document.querySelector('#uploadContentForm');
            formElem.setAttribute("action", "/uploadContent");
            formElem.setAttribute('method', 'post');
            formElem.submit();
        }
    });
</script>
</html>