<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">

    <div style="width: 850px">
        <div style="width: 400px; margin: 60px auto;">
            <a id="aHeader" ><img src="/AdminImage/logo3.png" width="400px"/></a>
        </div>
    </div>

    <script th:inline="javascript">
        var currentTID = [[${curTID}]];
    </script>
    <script>
        var aHeader = document.getElementById('aHeader');
        aHeader.setAttribute("href", "/loginHome/"+currentTID);
    </script>
</div>
fragments/footer