<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

<body>
<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <h4 th:text="|UID : ${myInformation.UID}|">로그인 사용자 이름</h4>
    <h4 th:text="|아이디 : ${myInformation.userID}|">로그인 사용자 이름</h4>
    <h4 th:text="|비밀번호 : ${myInformation.password}|">로그인 사용자 이름</h4>
    <h4 th:text="|이메일 : ${myInformation.email}|">로그인 사용자 이름</h4>
    <h4 th:text="|닉네임 : ${myInformation.nickName}|">로그인 사용자 이름</h4>

    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>



