<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="/static/images/logo2.jpg" rel="stylesheet">
    <style>
        .container {
            /*max-width: 700px;*/
            width: 700px;
        }

        ul {
            list-style-type: none;
            padding: 0px;
            margin: -30px;
            width: auto;
            background: white;
            height: auto;
            overflow: auto;
            position: fixed;
            border-radius: 10px;
            color: #333;
            border: solid 1px #2D7100;
        }

        li {
            border: solid 1px white;
            border-radius: 10px;
        }

        li a {
            text-decoration: none;
            padding: 10px;
            display: block;
            color: #333333;
            font-weight: bold;
            border-radius: 10px;
        }

        li a:hover {
            background: #eaea80;
            color: gray;
            border: solid 1px white;
            border-radius: 10px;
        }

        .setting {
            margin-left: 120px;
        }

        #update {
            margin-top: 30px;
            background: white;
            outline: none;
            cursor: pointer;
            border-radius: 10px;
            color: #333;
            border: solid 1px #2D7100;
            font-weight: bold;
        }

        #input-image {
            margin-top: 20px;
        }

        #footer {
            display: block;
            text-align: center;
            left: 50%;
            margin-left: -15px;
        }

        #logout {
            margin-top: 20px;
        }
        .kakaoChatPc {
            position: fixed;
            z-index: 999;
            right: 20px; /* 화면 오른쪽으로부터의 거리, 숫자만 입력 */
            bottom: 20px; /* 화면 아래쪽으로부터의 거리, 숫자만 입력 */
        }
    </style>

    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('241e8e5d885ad576b5c291865fbe3373'); // 사용할 앱의 JavaScript키를 입력해 주세요.
        // SDK 초기화 여부를 판단합니다.
        console.log(Kakao.isInitialized());
    </script>




    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript">
        <!--이미지 미리 보여주기-->
        $(function () {
            $("#input-image").on('change', function () {
                $("#preview").css('display', 'none');
                readURL(this);
            });
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#View').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            } else {

            }
        }

        $(function () {
            $("#input-coverimage").on('change', function () {
                $("#previewCover").css('display', 'none');
                readURLCover(this);
            });
        });

        function readURLCover(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#ViewCover').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            } else {

            }
        }

        $(document).ready(function (){
            $('#deleteAccount').click(function (){
                let check = confirm("탈퇴하시겠습니까?")
                if(check){
                    location.replace("/deleteUser");
                }
            })
            $('#pwCheck').focusout(function () {//pwCheck의 포커스가 나가면 if문 실행

                if ($('#pw').val() != $('#pwCheck').val()) {
                    $('#pwCheck').val("")
                    $('#pwCheck').focus()
                }
            })
            $('#pw').mouseover(function (){
                console.log("over")
                $('#pw').attr('type', 'text')
            })
            $('#pw').mouseleave(function (){
                console.log("아웃")
                $('#pw').attr('type', 'password')
            })




        })

        // function isSame() {
        //     var pw = document.pw.value;
        //     var pwc = document.pwCheck.value;
        //     if (pw.length < 6 || pw.length > 16) {
        //         window.alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
        //         document.getElementById('pw').value=document.getElementById('pwCheck').value='';
        //         document.getElementById('same').innerHTML='';
        //     }
        //     if(document.getElementById('pw').value!='' && document.getElementById('pwCheck').value!='') {
        //         if(document.getElementById('pw').value==document.getElementById('pwCheck').value) {
        //             document.getElementById('same').innerHTML='비밀번호가 일치합니다.';
        //             document.getElementById('same').style.color='blue';
        //         }
        //         else {
        //             document.getElementById('same').innerHTML='비밀번호가 일치하지 않습니다.';
        //             document.getElementById('same').style.color='red';
        //         }
        //     }
        // }


        // $('#pw').focusout(function () {
        //     var pwd1 = $("#pw").val();
        //     var pwd2 = $("#pwCheck").val();
        //
        //         if (#pw.value == pwCheck.value) {
        //
        //         } else {
        //             // 비밀번호 불일치 이벤트 실행
        //         }
        //     }
        // });

    </script>
</head>
<body>
<div class="container">
    <!--    <div th:replace="fragments/bodyHeader :: bodyHeader"/>-->
    <div class="py-1 text-center">
        <img src="/images/logo2.jpg" width="300px" height="300px">
    </div>

    <ul class="menu">
        <li><a th:href="@{/loginHome/{curTID}(curTID=${curTID})}">홈</a></li>
        <li><a th:href="@{/users/settinguser}">내정보</a></li>
        <li><a th:href="@{/teamEdit}">내그룹</a></li>
        <li><a id="deleteAccount">회원탈퇴</a></li>
<!--    <li><a th:href="@{/logout}" >로그아웃</a></li>-->
    </ul>

<!-- SettingController의 GetMapping의 /users/settinguser로 액션을 잡고 userSetForm이라는 오브젝트(객체)에 담는다. -->
    <form role="form" action="/users/settinguser" th:object="${userSetForm}" method="post" enctype="multipart/form-data">
        <div class="setting">
            <div class="form-group">
                <label th:for="id">아이디</label>
                <input type="text" th:field="*{id}" class="form-control"
                       placeholder="아이디를 입력하세요" th:value="*{id}" readonly
                       th:class="${#fields.hasErrors('id')}? 'form-control fieldError' : 'form-control'">
                <div class="field-error" th:errors="*{id}"/>
            </div>

            <div class="form-group">
                <label th:for="name">이름</label>
                <input type="text" th:field="*{name}" class="form-control" th:value="*{name}"
                       placeholder="이름을 입력하세요"
                       th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
                <div class="field-error" th:errors="*{name}"/>
            </div>

            <div class="form-group">
                <label th:for="password">비밀번호</label>
                <input type="text" th:field="*{password}" name="pw" id="pw" class="form-control" th:value="${userSetForm.password}"
                       placeholder="비밀번호를 입력하세요"
                       th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
                <div class="field-error" th:errors="*{password}"/>
            </div>

            <div class="form-group">
                <label th:for="passwordCheck">비밀번호 확인</label>
                <input type="text" th:field="*{passwordCheck}" name="pwCheck" id="pwCheck" class="form-control" th:value="${userSetForm.passwordCheck}"
                       placeholder="비밀번호를 입력하세요"
                       th:class="${#fields.hasErrors('passwordCheck')}? 'form-control fieldError' : 'form-control'">
                <div class="field-error" th:errors="*{passwordCheck}"/>
            </div>

            <div class="form-group">
                <label th:for="nickName">닉네임</label>
                <input type="text" th:field="*{nickName}" class="form-control" th:value="*{nickName}"
                       placeholder="닉네임을 입력하세요"
                       th:class="${#fields.hasErrors('nickName')}? 'form-control fieldError' : 'form-control'">
                <div class="field-error" th:errors="*{nickName}"/>
            </div>

            <div class="form-group">
                <label th:for="email">E-mail</label>
                <input type="text" th:field="*{email}" class="form-control" th:value="*{email}"
                       placeholder="E-mail을 입력하세요"
                       th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
                <div class="field-error" th:errors="*{email}"/>
            </div>

            <div class="form-group">
                <label th:for="phoneNumber">핸드폰 번호</label>
                <input type="text" th:field="*{phoneNumber}" class="form-control" th:value="*{phoneNumber}"
                       placeholder="Phone_number을 입력하세요"
                       th:class="${#fields.hasErrors('phoneNumber')}? 'form-control fieldError' : 'form-control'">
                <div class="field-error" th:errors="*{phoneNumber}"/>
            </div>

            <div class="form-group">
                <label th:for="userImage">프로필 사진 선택</label>
                <div id="preview">
                    <img th:src="${userProfileImage}" width="150" style="margin:12px;"/>
                </div>
                <img style="width: 150px; margin-top: 5px;" id="View" class="form-control">
                <input style="display: block;" type="file" id="input-image" name="userImage">
            </div>

            <div class="form-group">
                <label th:for="userCoverImage">개인 커버 사진 선택</label>
                <div id="previewCover">
                    <img th:src="${userCoverImage}" width="150" style="margin:12px;"/>
                </div>
                <img style="width: 150px; margin-top: 5px;" id="ViewCover" class="form-control" >
                <input style="display: block;" type="file" id="input-coverimage" name="userCoverImage">
            </div>

            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}">전체 오류 메시지</p>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" id="update"
                    th:onclick="|location.href='@{/users/settinguser}'|">수정하기
            </button>
        </div>
    </form>
    <form th:action="@{/logout}" method="post">
        <button class="w-100 btn btn-dark btn-lg" id="logout"
                type="submit">
            로그아웃
        </button>
    </form>
</div>


<a href="javascript:void kakaoChatStart()" class="kakaoChatPc hidden-md hidden-sm hidden-xs">
    <p id="kakao-talk-channel-chat-button"></p>
</a>


<script type="text/javascript">


    /*  function logoutWithKakao() {
          if (!Kakao.Auth.getAccessToken()) {
              console.log('Not logged in.');
              return;
          }
          console.log(Kakao.Auth.getAccessToken()); //before Logout
          Kakao.Auth.logout(function () {
              console.log(Kakao.Auth.getAccessToken()); //after Logout
              //★ 추가 할 것 : 로그아웃 성공 후 처리
          });
      }*/


    function chat() {
        Kakao.Channel.chat({
            channelPublicId: '_pPPkb' // 카카오톡 채널 홈 URL에 명시된 id로 설정합니다.
        });
    }


    btn_chat();
    function btn_chat() {
        Kakao.Channel.createChatButton({
            container: '#kakao-talk-channel-chat-button',
            channelPublicId: '_pPPkb' // 카카오톡 채널 홈 URL에 명시된 id로 설정합니다.
        });
    }

    /*    btn_added();
        function btn_added() {
            Kakao.Channel.createAddChannelButton({
                container: '#kakao-add-channel-button',
                channelPublicId: '_pPPkb' // 채널 홈 URL에 명시된 id로 설정합니다.
            });
        }*/

</script>


<div id="footer" th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>


<!-- function readImage(input) {-->
<!---->
<!-- // 인풋 태그에 파일이 있는 경우-->
<!-- if (input.files && input.files[0]) {-->
<!---->
<!--// FileReader 인스턴스 생성-->
<!--const reader = new FileReader()-->
<!---->
<!--// 이미지가 로드가 된 경우-->
<!--reader.onload = e => {-->
<!--const previewImage = document.getElementById("userImage")-->
<!--previewImage.setAttribute(src, e.target.result);-->
<!--}-->
<!---->
<!--// reader가 이미지 읽도록 하기-->
<!--reader.readAsDataURL(input.files[0])-->
<!--}-->
<!--}-->
<!---->
<!--// input file에 change 이벤트 부여-->
<!--const inputImage = document.getElementById("input-image")-->
<!--inputImage.addEventListener("change", e => {-->
<!--readImage(e.target)-->
<!--})-->
</html>