<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="/static/images/logo2.jpg" rel="stylesheet">
    <style>
        .container {
            /*max-width: 700px;*/
            width: 700px;
        }

        ul {
            list-style-type: none;
            padding: 0px;
            margin: -30px;
            width: auto;
            background: white;
            height: auto;
            overflow: auto;
            position: fixed;
            border-radius: 10px;
            color: #333;
            border: solid 1px #2D7100;
        }

        li {
            border: solid 1px white;
            border-radius: 10px;
        }

        li a {
            text-decoration: none;
            padding: 10px;
            display: block;
            color: #333333;
            font-weight: bold;
            border-radius: 10px;
        }

        li a:hover {
            background: #eaea80;
            color: gray;
            border: solid 1px white;
            border-radius: 10px;
        }

        .setting {
            margin-left: 120px;
        }

        #update, #deleteAccount {
            margin-top: 30px;
            background: white;
            outline: none;
            cursor: pointer;
            border-radius: 10px;
            color: #333;
            border: solid 1px #2D7100;
            font-weight: bold;
        }

        #input-image {
            margin-top: 20px;
        }

        #footer {
            display: block;
            text-align: center;
            left: 50%;
            margin-left: -15px;
        }

        #logout {
            margin-top: 20px;
        }
    </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript">
        <!--이미지 미리 보여주기-->
        $(function () {
            $("#input-image").on('change', function () {
                $("#preview").css('display', 'none');
                readURL(this);
            });
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#View').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            } else {

            }
        }

        $(function () {
            $("#input-coverimage").on('change', function () {
                $("#previewCover").css('display', 'none');
                readURLCover(this);
            });
        });

        function readURLCover(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#ViewCover').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            } else {

            }
        }

        $(document).ready(function (){
            $('#deleteAccount').click(function (){
                let check = confirm("탈퇴하시겠습니까?")
                if(check){
                    location.replace("/deleteUser");
                }
            })

            // $('#pwCheck').focusout(function () {//pwCheck의 포커스가 나가면 if문 실행
            //
            //     if ($('#pw').val() != $('#pwCheck').val()) {
            //         $('#pwCheck').val("")
            //         $('#pwCheck').focus()
            //     }
            // })
            // $('#pw').mouseover(function (){
            //     console.log("over")
            //     $('#pw').attr('type', 'text')
            // })
            // $('#pw').mouseleave(function (){
            //     console.log("아웃")
            //     $('#pw').attr('type', 'password')
            // })


            $('#update').click(function (evt){
                evt.preventDefault();
            if($('#pw').val() != $('#pwCheck').val()) {
                alert("비밀번호가 일치하지 않습니다.")
                $('#pw').focus();
                document.querySelector('input[id="pw"]').focus();
                return;
                // document.querySelector('#pw').focus();
            }
            });

        })

        // function isSame() {
        //     var pw = document.pw.value;
        //     var pwc = document.pwCheck.value;
        //     if (pw.length < 6 || pw.length > 16) {
        //         window.alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
        //         document.getElementById('pw').value=document.getElementById('pwCheck').value='';
        //         document.getElementById('same').innerHTML='';
        //     }
        //     if(document.getElementById('pw').value!='' && document.getElementById('pwCheck').value!='') {
        //         if(document.getElementById('pw').value==document.getElementById('pwCheck').value) {
        //             document.getElementById('same').innerHTML='비밀번호가 일치합니다.';
        //             document.getElementById('same').style.color='blue';
        //         }
        //         else {
        //             document.getElementById('same').innerHTML='비밀번호가 일치하지 않습니다.';
        //             document.getElementById('same').style.color='red';
        //         }
        //     }
        // }
    </script>
</head>
<body>
<div class="container">
    <!--    <div th:replace="fragments/bodyHeader :: bodyHeader"/>-->
    <div class="py-1 text-center">
        <img src="/images/logo2.jpg" width="300px" height="300px">
    </div>

    <ul class="menu">
        <li><a th:href="@{/loginHome/{curTID}(curTID=${curTID})}">홈</a></li>
        <li><a th:href="@{/users/settinguser}">내정보</a></li>
        <li><a th:href="@{/teamEdit}">내그룹</a></li>
<!--    <li><a th:href="@{/logout}" >로그아웃</a></li>-->
    </ul>

<!-- SettingController의 GetMapping의 /users/settinguser로 액션을 잡고 userSetForm이라는 오브젝트(객체)에 담는다. -->
    <form role="form" action="/users/settinguser" th:object="${userSetForm}" method="post" enctype="multipart/form-data">
        <div class="setting">
            <div class="form-group">
                <label th:for="id">아이디</label>
                <input type="text" th:field="*{id}" class="form-control"
                       placeholder="아이디를 입력하세요" th:value="*{id}" readonly
                       th:class="${#fields.hasErrors('id')}? 'form-control fieldError' : 'form-control'">
                <div class="field-error" th:errors="*{id}"/>
            </div>

            <div class="form-group">
                <label th:for="name">이름</label>
                <input type="text" th:field="*{name}" class="form-control" th:value="*{name}"
                       placeholder="이름을 입력하세요"
                       th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
                <div class="field-error" th:errors="*{name}"/>
            </div>

            <div class="form-group">
                <label th:for="pw">비밀번호</label>
                <input type="password" id="pw" name="password" class="form-control" th:value="${userSetForm.password}"
                       placeholder="비밀번호를 입력하세요"
                       th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
                <div class="field-error" th:errors="*{password}"/>
            </div>

            <div class="form-group">
                <label th:for="pwCheck">비밀번호 확인</label>
                <input type="password" name="passwordCheck" id="pwCheck" class="form-control" th:value="${userSetForm.passwordCheck}"
                       placeholder="비밀번호를 입력하세요"
                       th:class="${#fields.hasErrors('passwordCheck')}? 'form-control fieldError' : 'form-control'">
                <div class="field-error" th:errors="*{passwordCheck}"/>
            </div>

            <div class="form-group">
                <label th:for="nickName">닉네임</label>
                <input type="text" th:field="*{nickName}" class="form-control" th:value="*{nickName}"
                       placeholder="닉네임을 입력하세요"
                       th:class="${#fields.hasErrors('nickName')}? 'form-control fieldError' : 'form-control'">
                <div class="field-error" th:errors="*{nickName}"/>
            </div>

            <div class="form-group">
                <label th:for="email">E-mail</label>
                <input type="text" th:field="*{email}" class="form-control" th:value="*{email}"
                       placeholder="E-mail을 입력하세요"
                       th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
                <div class="field-error" th:errors="*{email}"/>
            </div>

            <div class="form-group">
                <label th:for="phoneNumber">핸드폰 번호</label>
                <input type="text" th:field="*{phoneNumber}" class="form-control" th:value="*{phoneNumber}"
                       placeholder="Phone_number을 입력하세요"
                       th:class="${#fields.hasErrors('phoneNumber')}? 'form-control fieldError' : 'form-control'">
                <div class="field-error" th:errors="*{phoneNumber}"/>
            </div>

            <div class="form-group">
                <label th:for="userImage">프로필 사진 선택</label>
                <div id="preview">
                    <img th:src="${userProfileImage}" width="150" style="margin:12px;"/>
                </div>
                <img style="width: 150px; margin-top: 5px;" id="View" class="form-control">
                <input style="display: block;" type="file" id="input-image" name="userImage">
            </div>

            <div class="form-group">
                <label th:for="userCoverImage">개인 커버 사진 선택</label>
                <div id="previewCover">
                    <img th:src="${userCoverImage}" width="150" style="margin:12px;"/>
                </div>
                <img style="width: 150px; margin-top: 5px;" id="ViewCover" class="form-control" >
                <input style="display: block;" type="file" id="input-coverimage" name="userCoverImage">
            </div>

            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}">전체 오류 메시지</p>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" id="update"
                    th:onclick="|location.href='@{/users/settinguser}'|">수정하기
            </button>

            <button type="button" class="btn btn-primary" id="deleteAccount" >회원탈퇴</button>
        </div>
    </form>
    <form th:action="@{/logout}" method="post">
        <button class="w-100 btn btn-dark btn-lg" id="logout"
                type="submit">
            로그아웃
        </button>
    </form>
</div>
<div id="footer" th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>