
@font-face {

    font-family: 'NEXONLv1Gothic';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-style: normal;

}
@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-style: normal;
}

* {
    margin: 0; padding: 0;
}

body {

    background: #ffffff;
    color: #fff;
    font-family: 'NEXONLv1Gothic';
    font-weight: 400;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

body::before {

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: -1;

}

.info {
    color: #fff;
    font-family: "NEXONLv1Gothic";
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
.info.right {
    left: auto;
    right: 0px;
    top: 0px;
}
.info h1 {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.6;
    border-bottom: 1px dashed #fff;
    display: inline-block;
    margin-bottom: 10px;
}
.info h1 a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}
.info p {
    font-weight: 300;
    font-size: 16px;
}

.info li.active a {
    background: #fff;
    color: #000;
}
.info.left {
    top: auto;
    right: 0px;
    bottom: 0px;
}
.info.left li {
    display: block;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
}

/* slider */
.slider-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;

   /* height: 100vh;*/
}

.slider-img {
    text-align: right;
    position: relative;
    width: 480px;
    height: 480px;
}


.slider-img img {
    width:90%;
}
.slider {
    position: absolute;
    left: 0; top: 0;
}



.slider:nth-child(1)::before
.slider:nth-child(2)::before
.slider:nth-child(3)::before

.slider:nth-child(1){z-index: 3;}
.slider:nth-child(2){z-index: 2;}
.slider:nth-child(3){z-index: 1;}