/*
색상
진한 초록색: #2D7100
연한 초록색: #C3EFBE
*/

@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-style: normal;

}

@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-style: normal;
}

body {
    font-family: 'Poppins', 'NEXONLv1Gothic';
}

.container {
    max-width: 850px;

}

.formBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, minmax(80px, auto));
}

.titleBox {
    grid-column: 1/3;
}
.title {
    text-align: center;
}
.subTitle {
    font-size: 18px;
}
.alertMessage {
    color: #fa6060;
}

.imageInputBox {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row: 2/3;
    margin: 20px;
}
#preview {
    border: 1px solid gray;
    border-radius: 3px;
}

#groupNameBox {
    text-align: center;
}

.textInputBox {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row: 2/3;
    margin: 20px;
}

.buttonBox {
    grid-column: 1/3;
    text-align: center;
}
#backA {
    width: 140px;
    height: 45px;
    margin: 10px;
    padding: 8px 35px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
#submitButton {
    width: 140px;
    height: 45px;
    margin: 10px;
    border: none;
    border-radius: 3px;
    background-color: #75bc63;
    font-size: 20px;
    color: white;
}
#backButton {
    width: 140px;
    height: 45px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 20px;
    font-color: gray;
    background-color: white;
}
#submitA {
    width: 140px;
    height: 45px;
    margin: 10px;
    padding: 9px 35px;
    border: none;
    border-radius: 3px;
    background-color: #75bc63;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#map_Area {
    width: 300px;
}
#map {
    width: 350px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
#showMapBtn {
    width: 100px;
    height: 35px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    background-color: #75bc63;
    font-size: 16px;
    color: white;
}
#hideMapBtn {
    width: 100px;
    height: 35px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 16px;
    font-color: gray;
    background-color: white;
}
#keyBox {
    width: 360px;
}
#labelKeyWord {
    display: inline-block;
    margin-right: 5px;
}
#keyword {
    display: inline-block;
}
#searchbtn {
    display: inline-block;
    width: 90px;
    height: 30px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    background-color: #75bc63;
    font-size: 16px;
    color: white;
}