<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 380px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }


        .kakaoChatPc {
            position: fixed;
            z-index: 999;
            right: 20px; /* 화면 오른쪽으로부터의 거리, 숫자만 입력 */
            bottom: 20px; /* 화면 아래쪽으로부터의 거리, 숫자만 입력 */
        }
    </style>

    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('241e8e5d885ad576b5c291865fbe3373'); // 사용할 앱의 JavaScript키를 입력해 주세요.
        // SDK 초기화 여부를 판단합니다.
        console.log(Kakao.isInitialized());
    </script>

 <!--   <script src="/developers.kakao.com/sdk/js/kakao.min.js"></script>-->

</head>
<body>
<div class="container">

    <br><br><br><br>

    <form action="/"  th:object="${loginForm}" method="post">

        <div>
            <label for="loginId"><b>아이디</b></label>
            <input type="text" id="loginId" th:field="*{loginId}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{loginId}" />
        </div>
        <div>
            <label for="password"><b>비밀번호</b></label>
            <input type="password" id="password" th:field="*{password}"  class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>
        <br>
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-success btn-lg" type="submit">
                    로그인</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-warning btn-lg"  onclick="location.href='items.html'" th:onclick="|location.href='@{/}'|"
                        type="button">취소</button>
            </div>

        </div>

    </form>

    <div class="row">
        <div class="py-3 text-center">

            <a href = "https://kauth.kakao.com/oauth/authorize?client_id=4d6bfc510b9480c47be3a30e3ae11deb&redirect_uri=http://localhost:8080/kakaoLogin&response_type=code" id="custom-login-btn">
                <img src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg" width="330" />
            </a>
        </div>
    </div>


    <hr class="my-3">
    <div class="row">
        <div class="py-3 text-center">
            <a class="btn btn-lg btn-light" href="/signUp">회원가입</a>
            <a class="btn btn-lg btn-light" href="/users/findId">ID 찾기</a>
            <a class="btn btn-lg btn-light" href="/users/findPw">PW 찾기</a>
        </div>
    </div>

</div>





<!--    <a href="javascript:void kakaoChatStart()" class="kakaoChatPc hidden-md hidden-sm hidden-xs">
        <p id="kakao-talk-channel-chat-button"></p>
    </a>-->


<!--

<Button onclick="javascript:logoutWithKakao()">Logout</Button>

-->



<script type="text/javascript">


 /*   function logoutWithKakao() {
        if (!Kakao.Auth.getAccessToken()) {
            console.log('Not logged in.');
            return;
        }
        console.log(Kakao.Auth.getAccessToken()); //before Logout
        Kakao.Auth.logout(function () {
            console.log(Kakao.Auth.getAccessToken()); //after Logout
            //★ 추가 할 것 : 로그아웃 성공 후 처리
        });
    }*/


    function chat() {
        Kakao.Channel.chat({
            channelPublicId: '_pPPkb' // 카카오톡 채널 홈 URL에 명시된 id로 설정합니다.
        });
    }

    btn_chat();
    function btn_chat() {
        Kakao.Channel.createChatButton({
            container: '#kakao-talk-channel-chat-button',
            channelPublicId: '_pPPkb' // 카카오톡 채널 홈 URL에 명시된 id로 설정합니다.
        });
    }

/*    btn_added();
    function btn_added() {
        Kakao.Channel.createAddChannelButton({
            container: '#kakao-add-channel-button',
            channelPublicId: '_pPPkb' // 채널 홈 URL에 명시된 id로 설정합니다.
        });
    }*/

</script>
</body>




</html>
