<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    div>img:hover{
        opacity: 80%;
        cursor:pointer;
    }
    h5{
        margin-bottom: 25px;
    }

    hr{
        opacity: 10%;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div id="wrapper">

        <div id="navBox">
            <h5>내 그룹</h5>
            <div id="myTeams">
            </div>
            <br/><br/>
            <h5>구성원</h5>
            <div id="userInSameTeam">
            </div>
            <hr/>

            <h4>알림</h4>
            <div id="notice">
            </div>
            <hr/>

            <div id="agoYearPhoto">


            </div>


        </div>

        <div id="contentBox">
            <div id="userData">
            </div>
            <div id="uploadBtnBox">
                <button id="uploadBtn" type="button">+</button>
            </div>
            <div id="contents">
            </div>
            <hr/>
        </div>
    </div>



    <div th:replace="fragments/footer :: footer" /> <!-- fragments/footer에 있는 파일이 대체됨 -->
</div> <!-- /container -->
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>

    var curURL = window.location.href;
    var urlArr = curURL.split("/");
    var currentTID = urlArr[urlArr.length-1];

    //로그인 사용자 정보를 받아옴
    $.ajax({
        type: "get",
        url: "/initMainPage/loginUser",
        datatype: 'json',
        success: function(data) {
            getMyTeams();
            initInformation(currentTID);

            var userData = document.getElementById('userData');
        },
        error: function(request, status, error) {
            console.log("code: "+request.status+"\n message: "+request.reponseText+"\n error: "+error);
        }
    });

    function getMyTeams(){
        $.ajax({
            type: "get",
            url: "/initMainPage/myTeams",
            datatype: 'json',
            success: function(data) {

                var myTeams = document.getElementById('myTeams'); // div
                data.forEach(function(item){
                    let teamimg = document.createElement('img');
                    teamimg.setAttribute("src",item.teamImage);
                    teamimg.setAttribute("style",'width:53px; height:53px; border-radius: 50%; margin-bottom:10px; border: 1px solid gray;')
                    teamimg.setAttribute("id",item.tid);
                    teamimg.addEventListener("click", getInformation);

                    let teamName = document.createElement('div');
                    teamName.innerHTML = item.teamID;
                    teamName.setAttribute("style","text-align:center;font-weight:bolder")

                    let eachTeam = document.createElement('div');
                    eachTeam.append(teamimg);
                    eachTeam.append(teamName);
                    eachTeam.setAttribute("style","float:left; margin-right:30px; margin-bottom:15px")

                    myTeams.appendChild(eachTeam);
                    myTeams.setAttribute("style","display:inline-block");
                });

            },
            error: function(request, status, error) {
                console.log("code: "+request.status+"\n message: "+request.reponseText+"\n error: "+error);
            }
        });
    }

    function initInformation(currentTID){
        var btn = document.getElementById('uploadBtn');
        btn.setAttribute("onclick", "location.href='/uploadContent'");

        var curTeam = document.getElementById('curTeam');

        var notice = document.getElementById('notice');
        notice.innerHTML = '';

        $.ajax({
            type: "post",
            url: "/initMainPage/contents",
            data: {
                tID : currentTID
            },
            datatype: 'json',
            success: function(data) {
                showContents(data);
            },
            error: function(request, status, error) {
                console.log("code: "+request.status+"\n message: "+request.reponseText+"\n error: "+error);
            }
        });
        $.ajax({
            type: "post",
            url: "/initMainPage/teamEvents",
            data: {
                tID : currentTID
            },
            datatype: 'json',
            success: function(data) {
                showTeamEvent(data);
            },
            error: function(request, status, error) {
                console.log("code: "+request.status+"\n message: "+request.reponseText+"\n error: "+error);
            }
        });
        $.ajax({
            type: "post",
            url: "/initMainPage/todayBirthday",
            data: {
                tID : currentTID
            },
            datatype: 'json',
            success: function(data) {
                showBirthday(data);
            },
            error: function(request, status, error) {
                console.log("code: "+request.status+"\n message: "+request.reponseText+"\n error: "+error);
            }
        });
        $.ajax({
            type: "post",
            url: "/initMainPage/newRequest",
            data: {
                tID : currentTID
            },
            datatype: 'json',
            success: function(data) {
                showNewRequest(data);
            },
            error: function(request, status, error) {
                console.log("code: "+request.status+"\n message: "+request.reponseText+"\n error: "+error);
            }
        });


        $.ajax({
            type: "post",
            url: "/initMainPage/userInSameTeam",
            data: {
                tID : currentTID
            },
            datatype: 'json',
            success: function(data) {
                showUserInSameTeam(data, currentTID);
            },
            error: function(request, status, error) {
                console.log("code: "+request.status+"\n message: "+request.reponseText+"\n error: "+error);
            }
        });

        $.ajax({
            type: "post",
            url: "/agoYear",
            data: {
                tID : currentTID
            },
            datatype: 'json',
            success: function(data) {
                showAgoYear(data);
            },
            error: function(request, status, error) {
                console.log("code: "+request.status+"\n message: "+request.reponseText+"\n error: "+error);
            }
        });

    }

    function getInformation(evt){
        var currentTID = $(evt.target).attr('id');

        var btn = document.getElementById('uploadBtn');
        btn.setAttribute("onclick", "location.href='/uploadContent'");

        //현재
        var curTeam = document.getElementById('curTeam');
        var notice = document.getElementById('notice');
        notice.innerHTML = '';

        $.ajax({
            type: "post",
            url: "/initMainPage/contents",
            data: {
                tID : currentTID
            },
            datatype: 'json',
            success: function(data) {
                showContents(data);
            },
            error: function(request, status, error) {
                console.log("code: "+request.status+"\n message: "+request.reponseText+"\n error: "+error);
            }
        });
        $.ajax({
            type: "post",
            url: "/initMainPage/teamEvents",
            data: {
                tID : currentTID
            },
            datatype: 'json',
            success: function(data) {
                showTeamEvent(data);
            },
            error: function(request, status, error) {
                console.log("code: "+request.status+"\n message: "+request.reponseText+"\n error: "+error);
            }
        });
        $.ajax({
            type: "post",
            url: "/initMainPage/todayBirthday",
            data: {
                tID : currentTID
            },
            datatype: 'json',
            success: function(data) {
                showBirthday(data);
            },
            error: function(request, status, error) {
                console.log("code: "+request.status+"\n message: "+request.reponseText+"\n error: "+error);
            }
        });
        $.ajax({
            type: "post",
            url: "/initMainPage/newRequest",
            data: {
                tID : currentTID
            },
            datatype: 'json',
            success: function(data) {
                showNewRequest(data);
            },
            error: function(request, status, error) {
                console.log("code: "+request.status+"\n message: "+request.reponseText+"\n error: "+error);
            }
        });


        $.ajax({
            type: "post",
            url: "/initMainPage/userInSameTeam",
            data: {
                tID : currentTID
            },
            datatype: 'json',
            success: function(data) {
                showUserInSameTeam(data, currentTID);
            },
            error: function(request, status, error) {
                console.log("code: "+request.status+"\n message: "+request.reponseText+"\n error: "+error);
            }
        });


        $.ajax({
            type: "post",
            url: "/agoYear",
            data: {
                tID : currentTID
            },
            datatype: 'json',
            success: function(data) {
                showAgoYear(data);
            },
            error: function(request, status, error) {
                console.log("code: "+request.status+"\n message: "+request.reponseText+"\n error: "+error);
            }
        });
    }

    function showAgoYear(data){
        var contents = document.getElementById('agoYearPhoto');
        contents.innerHTML = '';

        if(data!=""){


            var imgBox = document.createElement("div");
            var img = document.createElement("img");
            var h = document.createElement("h5");
            h.innerHTML = '1년전 우리는'
            img.setAttribute("src", data);
            img.setAttribute("width", "200px");
            img.setAttribute("height", "160px");
            imgBox.appendChild(h);
            imgBox.appendChild(img);
            contents.appendChild(imgBox);
        }
    }

    function showUserInSameTeam(data, currentTID){

        var userInSameTeam = document.getElementById('userInSameTeam');
        userInSameTeam.innerHTML = '';
        data.forEach(function(item){
            let memberimg = document.createElement("img")
            memberimg.setAttribute("src",item.userImage);
            memberimg.setAttribute("style","width:53px; height:53px; border-radius:50%; margin-bottom:7px; border: 1px solid gray;")
            memberimg.setAttribute("id",item.uid+" "+currentTID);
            memberimg.addEventListener("click", movePersonalPage);

            let memberName = document.createElement("div");
            memberName.innerHTML = item.nickName
            memberName.setAttribute("style","display:inline-block; margin-left:14px; font-weight:bolder")

            let eachMember = document.createElement('div');
            eachMember.append(memberimg);
            eachMember.append(memberName);
            eachMember.setAttribute("style","margin-right:30px; margin-bottom:7px;")

            userInSameTeam.appendChild(eachMember);
        });
    }

    function movePersonalPage(evt){
        var userBtnID = $(evt.target).attr('id');
        var ids = userBtnID.split(' ');
        location.href = '/uploadList/'+ids[1]+'/'+ids[0];
    }

    function showTeamEvent(data){

        var notice = document.getElementById('notice');
        data.forEach(function(item){
            var teText = document.createElement("span");
            teText.innerHTML = '오늘은 '+item.eventName+'입니다.<br>';

            notice.appendChild(teText);
        });
    }

    function showBirthday(data){

        var notice = document.getElementById('notice');
        data.forEach(function(item){
            var bText = document.createElement("span");
            bText.innerHTML = '오늘은 '+item.nickName+'의 생일 입니다.<br>';

            notice.appendChild(bText);
        });
    }

    function showNewRequest(data){

        var notice = document.getElementById('notice');
        data.forEach(function(item){
            var nqText = document.createElement("span");
            nqText.innerHTML = item.name+'님이 가입 요청을 보냈습니다! 그룹 관리에서 확인해주세요.<br>';

            notice.appendChild(nqText);
        });
    }

    function showContents(data){

        var contents = document.getElementById('contents');
        contents.innerHTML = '';
        data.forEach(function(item){
            var head = document.createElement("div");
            head.setAttribute("class", "headerContent");
            var userImg = document.createElement("img");
            if(item.userImage == null){
                 userImg.setAttribute("src", "/AdminImage/userIcon.png");
            }
            else{
                userImg.setAttribute("src", item.userImage);
            }
            userImg.setAttribute("class", "userImage");
            head.appendChild(userImg);
            var headText = document.createElement("span");
            headText.innerHTML = item.userNickname;
            head.appendChild(headText);

            var cContainer = document.createElement("div");
            cContainer.setAttribute("class", "carousel-container");

            var cSlide = document.createElement("div");
            cSlide.setAttribute("class", "carousel-slide");
            cSlide.setAttribute("data", 0);
            cContainer.appendChild(cSlide);

            var imgCount = 0;
            var photo = item.photoRoute.split(' ');
            photo.forEach(function(p){
                var img = document.createElement("img");
                img.setAttribute("src", p);
                img.setAttribute("class", "contentImg");
                cSlide.appendChild(img);
                imgCount++;
            });
            cSlide.setAttribute("count", imgCount);

            var pButton = document.createElement("button");
            pButton.addEventListener('click', ()=> {
                let counter = cSlide.attributes.data.value;
                const size = 550;
                cSlide.style.transform = 'translateX(' + (-size * counter) + 'px)';

                if(counter <= 0) return;
                cSlide.style.transition = "transform 0.4s ease-in-out";
                counter--;
                cSlide.style.transform = 'translateX(' + (-size * counter) + 'px)';

                cSlide.attributes.data.value = counter;
            });
            pButton.setAttribute("id", "prevBtn");
            var pBtnText = document.createTextNode("<");
            pButton.appendChild(pBtnText);
            cContainer.appendChild(pButton);


            var nButton = document.createElement("button");
            nButton.addEventListener('click', ()=> {
                let counter = cSlide.attributes.data.value;
                const size = 550;
                cSlide.style.transform = 'translateX(' + (-size * counter) + 'px)';

                let imgCount = cSlide.attributes.count.value;

                if(counter >= imgCount-1) return;
                cSlide.style.transition = "transform 0.4s ease-in-out";
                counter++;
                cSlide.style.transform = 'translateX(' + (-size * counter) + 'px)';

                cSlide.attributes.data.value = counter;
            });
            nButton.setAttribute("id", "nextBtn");
            var nBtnText = document.createTextNode(">");
            nButton.appendChild(nBtnText);
            cContainer.appendChild(nButton);

            var foot = document.createElement("div");
            foot.setAttribute("class", "footerContent");
            var footText = document.createElement("span");
            footText.innerHTML = item.explanation+" "+item.location+"<br>"+item.when;
            foot.appendChild(footText);

            var content = document.createElement("div");
            content.setAttribute("class", "content");

            content.appendChild(head);
            content.appendChild(cContainer);
            content.appendChild(foot);

            contents.appendChild(content);
       });
    }
</script>
<script>
    $(document).ready(function() {
        var num = 0;
        start();
        function start() {
            $('#agoYearPhoto img').eq(num - 1).css({left: -1200});
            setInterval(function () {
                slide();
            }, 5000);
        }
        function slide() {
            if (num == 2) {
                num = 0;
            } else {
                num++;
            }
            $('#mainimg img').eq(num - 1).animate({left: 1200}, 4000, function () {
                $('#mainimg img').eq(num - 1).css({left: -1200});
            });
            $('#mainimg img').eq(num).animate({left: 0}, 4000);
        }
    });
</script>
</html>