<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider Effect</title>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/pade.css">

</head>
<body>

<main>
    <div class="slider-wrap">
        <div class="slider-img">
            <div class="slider"><img src="images/logo2.jpg" alt=""></div>
            <div class="slider"><img src="images/logo3.jpg" alt=""></div>
            <div class="slider"><img src="images/logo4.jpg" alt=""></div>
        </div>
    </div>
</main>

<div class="info">
    <h1><a href="pade.html">Slider Effect01 - Javascript</a></h1>
    <p>이미지 슬라이드 - 페이드 효과</p>
</div>

<script>
    const sliderWrap = document.querySelector(".slider-wrap");
    const sliderImg = document.querySelector(".slider-img");
    const slider = document.querySelectorAll(".slider");

    let currentIndex = 0;
    let sliderCount = 3;
    // let sliderCount = slider.length;

    setInterval(() => {
        let nextIndex = (currentIndex + 1) % sliderCount;  //0 1 2 3 4 0 1 2 3 4....
        slider[currentIndex].style.opacity = "0";
        slider[nextIndex].style.opacity = "1";
        slider.forEach(slider => {
            slider.style.transition = "all 3s";
        });
        currentIndex = nextIndex;
    }, 4000);
</script>
</body>
</html>